[phases.setup]
nixPkgs = ["python311", "gcc", "pkg-config", "cairo", "pango", "gdk-pixbuf", "libffi"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn nexus_core.wsgi --log-file -"
