[phases.setup]
nixPkgs = [
    "python311", 
    "gcc", 
    "pkg-config", 
    "cairo", 
    "pango", 
    "gdk-pixbuf", 
    "libffi",
    "python311Packages.pycairo",
    "python311Packages.cffi",
    "python311Packages.pillow"
]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn nexus_core.wsgi --log-file -"
